<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Géovélo - Jour de Fête</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Administration du module 'Jour de Fête'">
        <meta name="author" content="Géovélo/Luc LEGER">
    </head>
    
    <body>
        <div class="container">
            <div class="jumbotron">
              <h2>Jour de Fête</h2>
              <div class="col-sm-offset-8 col-sm-4">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        Connexion <span class="caret"></span>
                    </button>
              </div>
            </div>
        </div>
    </body>
</html>
